/* General adjustments */
body {
  margin: 0 !important;
  background-color: #f7f7f7;
}

p {
  font-family: roboto, sans-serif;
}

/* Header */
.header {
  display: flex;
  flex-wrap: wrap; /* allows items to wrap on small screens */
  height: 80px;
  background-color: black;
  padding: 0 20px;
  align-items: center;
}

.logo-sec, .menu-sec {
  flex: 1 1 100%;
  text-align: center;
  margin: 5px 0;
}

.logo-sec {
  text-align: left;
}

.menu-sec {
  text-align: right;
}

.logo {
  width: 50px;
}

.menu {
  color: white;
  text-decoration: none;
  margin-left: 20px;
  font-family: roboto, sans-serif;
  font-size: 18px;
  vertical-align: middle;
  transition: color 0.15s;
}

.menu:hover {
  color: rgb(250, 61, 61);
}

/* Intro section */
.intro {
  display: flex;
  flex-wrap: wrap;
  margin: 20px 0;
  padding: 0 20px;
}

.intro-text, .photo {
  flex: 1 1 100%;
  max-width: 100%;
}

.intro-text {
  height: auto;
}

.intro-heading {
  background-color: rgb(250, 61, 61);
}

.introduction {
  font-size: 36px;
  width: 100%;
  color: white;
  margin-left: 0;
}

.about-me {
  font-size: 18px;
  width: 100%;
  line-height: 24px;
  color: rgb(99, 99, 99);
  margin-left: 0;
}

.intro-photo {
  width: 100%;
  height: auto;
  max-width: 600px;
  border-radius: 20px;
}

/* Email section */
.email-sec {
  margin: 10px 0;
}

.email-input {
  width: 100%;
  max-width: 250px;
  margin-bottom: 10px;
}

.send-mail-button {
  width: 100%;
  max-width: 100px;
  margin-left: 0;
  margin-top: 5px;
}

/* Hobby & Skills */
.hobby, .feature-work {
  padding: 20px;
}

.about-hobby {
  padding: 0 20px;
}

/* Images */
.image, .image-two, .gd-image, .gd-image-two, .vertical-image, .a, .gd, .art {
  width: 100%;
  height: auto;
  margin-left: 0;
}

/* Hover effect remains */
.a:hover, .gd:hover, .art:hover {
  transform: scale(1.05);
}

/* Media Queries for small devices */
@media (max-width: 768px) {
  .header {
    height: auto;
    flex-direction: column;
    padding: 10px;
  }

  .menu {
    font-size: 16px;
    margin: 5px;
  }

  .intro {
    flex-direction: column;
    padding: 10px;
  }

  .introduction {
    font-size: 28px;
  }

  .about-me {
    font-size: 16px;
    line-height: 22px;
  }

  .my-skill, .what-i, .lets, .features {
    font-size: 24px;
  }

  .feature-work {
    padding: 10px;
  }
}
