body {
  margin: 0 !important;
  background-color: #f7f7f7;
}

p {
  font-family: roboto, sans-serif;
}

.header {
  display: flex;
  height: 80px;
  background-color: black;
  padding: 0 40px;
  align-items: center;
}

.logo-sec {
  width: 50%;
}

.menu-sec {
  width: 50%;
  text-align: right;
}

.logo {
  width: 80px;
}

.menu {
  color: white;
  text-decoration: none;
  margin-left: 40px;
  font-family: "space grotesk", roboto, sans-serif;
  font-size: 20px;
  vertical-align: middle;
  transition: color 0.15s;
}

.menu:hover {
  color: rgb(250, 61, 61);
}

.intro {
  height: 600px;
  display: flex;
  margin-top: 20px;
  padding: 0 40px;
}

.intro-text {
  width: 50%;
  height: 400px;
  font-family: "space grotesk", roboto, sans-serif;
}

.intro-heading {
  background-color: rgb(250, 61, 61);
}

.introduction {
  font-family: "archivo black";
  font-size: 35px;
  width: 500px;
  margin-bottom: 0px;
  margin-left: 10px;
  color: white;
  font-weight: bold;
}

.about-me {
  font-size: 20px;
  width: 525px;
  line-height: 26px;
  margin-left: 10px;
  color: rgb(99, 99, 99);
  font-weight: normal;
  font-family: "space grotesk", roboto, sans-serif;
}

.email-sec {
  margin-left: 10px;
}

.photo {
  width: 50%;
}

.intro-photo {
  margin-left: auto;
}

.pp {
  height: 600px;
  width: 600px;
  object-fit: cover;
  object-position: center;
  border-radius: 20px;
}

.email-title {
  font-size: 14px;
  color: rgb(99, 99, 99);
  margin-bottom: 10px;
}

.email-input {
  padding: 10px;
  font-size: 14px;
  font-family: roboto, sans-serif;
  width: 200px;
  border: solid;
  border-width: 1px;
  border-radius: 4px;
}

.send-mail-button {
  background-color: black;
  color: white;
  border: none;
  padding: 10px;
  font-size: 14px;
  font-family: roboto, sans-serif;
  cursor: pointer;
  border-radius: 4px;
  margin-left: 5px;
  transition: opacity 0.15s;
}

.send-mail-button:hover {
  opacity: 0.8;
}

.send-mail-button:active {
  opacity: 0.6;
}

.terms-condition {
  font-size: 14px;
  font-family: roboto, sans-serif;
  color: rgb(99, 99, 99);
  margin-top: 10px;
}

.terms {
  text-decoration: underline;
  cursor: pointer;
}

.hobby {
  margin-top: 150px;
  text-align: center;
  background-color: #f7f7f7;
  padding: 20px;
  margin-bottom: 0px;
}

.my-skill {
  font-family: "space grotesk" ,roboto, sans-serif;
  font-size: 24px;
  font-weight: bold;
}

.what-i {
  font-family: "archivo black";
  font-size: 48px;
  font-weight: bold;
  margin-bottom: 0px;
  margin-top: 10px;
}

.hobby-sec {
  margin-top: 5px;
}

.about-hobby {
  font-size: 20px;
  color: rgb(99, 99, 99);
  text-align: center;
  justify-content: center;
  margin-top: 5px;
  padding: 0 90px;
  margin-top: 20px;
  font-family: "space grotesk";
}

.lets, .features {
  font-family: "archivo black";
  text-align: center;
  font-size: 32px;
  margin-bottom: 0px;
}

.features {
  margin-top: 0px;
  padding-top: 20px;
}

.feature-work {
  background-color: #111111;
  color: white;
  padding: 0px 40px;
  margin-bottom: 0px;
  padding-bottom: 20px;
}

.image {
  width: 50%;
  height: 400px;
  border-radius: 6px;
  overflow: hidden;
}

.image-two {
  width: 50%;
  height: 400px;
  margin-left: 20px;
  border-radius: 6px;
  overflow: hidden;
}

.graphic-photo {
  margin-top: 20px;
  display: flex;
  text-align: center;
  justify-content: center;
  border-radius: 6px;
}

.horizontal-photo {
  margin-top: 20px;
  height: 400px;
}

.horizontal-image {
  height: 400px;
  border-radius: 6px;
  width: 100%;
  overflow: hidden;
}

.a {
  width: 100%;
  height: 400px;
  object-fit: cover;
  object-position: center;
  border-radius: 4px;
  cursor: pointer;
  transition: transform 0.3s ease;
}

.a:hover {
  transform: scale(1.1);
}

.art {
  width: 100%;
  height: 400px;
  object-fit: cover;
  object-position: center;
  border-radius: 4px;
  cursor: pointer;
  transition: transform 0.3s ease;
}

.art:hover {
  transform: scale(1.1);
}

.photo {
  display: flex;
}

.more-button, .contact-button {
  text-align: center;
}

.more-btn, .contact-btn {
  font-family: "space grotesk", roboto, sans-serif;
  margin-top: 20px;
  color: white;
  background-color: #111111;
  border: none;
  font-size: 16px;
  border-radius: 4px;
  padding: 10px 15px;
  cursor: pointer;
  transition-duration: color 0.15s, background-color 0.15s;
}

.more-btn:hover {
  color: #111111;
  background-color: white;
}

.more-btn:active {
  opacity: 0.8;
}

.contact {
  margin-top: 200px;
}

.want-to {
  font-family: "space grotesk", roboto, sans-serif;
  text-align: center;
  font-size: 26px;
  font-weight: bold;
  margin-bottom: 0px;
}

.lets-chat {
  margin-top: 20px;
  font-family: "archivo black", roboto, sans-serif;
  text-align: center;
  font-size: 76px;
  font-weight: bold;
  margin-bottom: 30px;
}

.contact-button {
  margin-top: 0px;
}

.contact-btn {
  padding: 10px 20px;
  transition-duration: opacity 0.15s;
  border-radius: 4px;
}

.contact-btn:hover {
  opacity: 0.8;
}

.contact-btn:active {
  opacity: 0.6;
}

.dot {
  font-family: "space grotesk";
  font-size: 18px;
  font-weight: bold;
  margin-top: 200px;
  text-align: center;
}

.still-here {
  font-family: "space grotesk", roboto, sans-serif;
  text-align: center;
  font-weight: bold;
  font-size: 26px;
  margin-top: 200px;
}

.photography {
  background-color: #111111;
  padding: 0 40px;
  padding-bottom: 20px;
}

.some-of {
  font-family: "archivo black", roboto, sans-serif;
  font-weight: bold;
  color: white;
  font-size: 40px;
  padding-top: 80px;
  text-align: center;
  margin-bottom: 20px;
}

.nothing-serious {
  font-family: "space grotesk", roboto, sans-serif;
  font-family: 18px;
  font-weight: bold;
  color: white;
  margin-top: 10px;
  text-align: center;
}

.footer {
  padding: 40px;
  text-align: center;
  font-family: "space grotesk", roboto, sans-serif;
  font-size: 18px;
  font-weight: bold;
}

.social-media-linkedin {
  color: #004182;
  padding: 0px 10px;
}

.social-media-youtube {
  color: #FF0000;
  padding: 0px 10px;
}

.social-media-instagram {
  color: #E1306C;
  padding: 0px 10px;
}

.social-media-monkeytype {
  color: #e2b714;
  padding: 0px 10px;
}